{% extends "base.html" %}
{% block content %}
<img class="team_img" src="/media/img/the_team.png">
<p>Мы — студия Ice-pick Lodge. С 2002 года мы делаем игры.
    <br><br>
    Мы стремимся создать ощущение «сквозных дыр» в границах между игрой и игроком. 
    Эти сквозняки должны постоянно тревожить человека, напоминать ему о том, что его 
    действия в игре отпечатываются в его душе и в его судьбе, а не только на жестком 
    диске его компьютера.
    <br><br>
    Наш подход к игровому процессу действительно революционный – просто потому, 
    что он позволяет по-новому ощупать, пережить и осмыслить границы игры, саму ее 
    форму, диалог игры и игрока. Это не похвальба, а горькое сожаление. Это равнозначно 
    признанию – «я преступник». Не нужно думать, что «революционный» значит «приятный». 
    Революция всегда связана с многочисленными неудобствами. Если мы делаем игру нового типа, 
    наш адресат – не потребитель, а соавтор.
</p>

{% endblock %}
