<!DOCTYPE html>
<HTML>
    <HEAD>
        <meta charset="utf-8">
        <LINK rel="stylesheet" 
            href="/media/css/style.css">
        <LINK rel="icon" 
            href="../media/img/favicon.png">
        <TITLE>Pathologic 2</TITLE>
    </HEAD>
    <BODY>
        <DIV class="back">
            <A href="#up" >
                <BUTTON><IMG src="../media/img/back_button.png" 
                    alt="Вернуться в начало" width="50px">
                </BUTTON>
            </A>
        </DIV>
        <DIV class="main">
            <DIV class="centered">
                <H1 id="up">PATHOLOGIC 2 </H1>
                <P> Боритесь с чумой. Делайте лекарства. Лечите людей. 
                    Делайте вскрытия. Торгуйте, чтобы достать необходимое. 
                    Деритесь и убивайте, если потребуется. Выживайте. 
                    «Мор» - сюжетная песочница о борьбе врача с эпидемией 
                    смертельной болезни в далеком степном городке. 
                </P>
                <DIV class = "tags"> 
                    <BUTTON class="tag">Выживание</BUTTON> 
                    <BUTTON class="tag">Психологический хоррор</BUTTON> 
                    <BUTTON class="tag">Глубокий сюжет</BUTTON> 
                    <BUTTON class="tag">Сложная</BUTTON> 
                    <BUTTON class="tag">Для одного игрока</BUTTON> 
                </DIV>
                <IFRAME src="https://www.youtube.com/embed/n2fAbqT5GWg" 
                    width="768px" 
                    height="432px">
                </IFRAME>
                <P>
                    Мор — авторский сюжетный арт-триллер, рассказывающий о 
                    борьбе с эпидемией смертельной болезни в далеком степном 
                    городке. Город гибнет на глазах. Приходится принимать 
                    тяжелые решения — иногда заведомо проигрышные. Песочная 
                    язва — это не просто болезнь. Всех не спасти.
                    <BR> <BR>
                    Чума пожирает город. Главный целитель города погибает при 
                    загадочных обстоятельствах, и вы должны занять его место. 
                    Придется искать неожиданных союзников. Дети что-то знают, 
                    и тщательно это скрывают — придется играть по их правилам.
                    <BR> <BR>
                    У вас всего двенадцать дней.
                </P>
            </DIV>
            
            <IMG class="separator" src="../media/img/separator.png">

            <DIV class="content">
                <UL>
                    <A href="#1" >
                        <li>Игровые персонажи</li>
                    </A>
                    <A href="#2" >
                        <li>Пережить эпидемию</li>
                    </A>
                    <A href="#3" >
                        <li>Везде не успеть, всех не спасти</li>
                    </A>
                    <A href="#4" >
                        <li>Выживание</li>
                    </A>
                    <A href="#5" >
                        <li>Жить с последствиями, умирать с последствиями</li>
                    </A>
                    <A href="#6" >
                        <li>Уникальный сеттинг</li>
                    </A>
                    <A href="#buy" >
                        <li>Приобрести Pathologic 2</li>
                    </A>
                </UL>
            </DIV>

            <IMG class="separator" src="../media/img/separator.png" id="1">

            <DIV class="title">
                <IMG class="title_img1" 
                    src="../media/img/titlegradient.png" 
                    height="110px">
                <IMG class="title_img2" 
                    src="../media/img/title1icon.png" 
                    height="80px">
                <H2 class="title_img3"> Игровые персонажи </H2>
            </DIV>
            <DIV class="description">
                <P>  
                    Игроку на выбор дается три персонажа. Каждый оказывается 
                    в Городе по той или иной причине, но по ходу игры их цель 
                    становится общей – победить Песочную язву и выжить. Каждый 
                    из персонажей видит болезнь по-своему, и методы борьбы с 
                    ней у них разные.
                </P>
             </DIV>
            <DIV class = "charas"> 
                <DIV>
                    <IMG class="charapic" 
                        src="../media/img/BachelorProfile.webp" 
                        alt="Bachelor">
                    <DIV class="charatext">
                        <H3>Бакалавр</H3>
                        <H3>Даниил Данковский</H3>
                        <P>
                            Знаменитый танатолог, посвятивший свою жизнь изучению 
                            смерти и ее искоренению. Бакалавр верит в 
                            рациональный научный подход, далекий от взглядов 
                            Гаруспика и Самозванки. 
                            <BR> <BR>
                            Он прибыл в Город, чтобы изучить бессмертного местного 
                            жителя. По иронии судьбы, этот человек умирает в день 
                            прибытия Бакалавра от странной болезни, что потом 
                            разойдется по всему городу.                            
                        </P>
                        <H4>В РАЗРАБОТКЕ</H4>
                    </DIV> 
                </DIV>
                <DIV>
                    <IMG class="charapic" 
                        src="../media/img/HaruspexProfile.webp" 
                        alt="Haruspex"> 
                    <DIV class="charatext">
                        <H3>Гаруспик</H3>
                        <H3>Артемий Бурах</H3>
                        <P>
                            Сын Исидора Бураха, единственного врача в городе и 
                            духовного лидера Уклада – менху. Его обучение в 
                            столице было прервано войной. На фронте ему 
                            приходит письмо отца с просьбой вернуться в 
                            Город. Вернувшись, Гаруспик обнаруживает, что его 
                            отец убит, а главный подозреваемый – сам Гаруспик.
                            <BR> <BR>
                            В борьбе с чумой он использует научные знания, 
                            полученные в процессе обучения на хирурга, и 
                            опыт менху, практикующих традиционную медицину 
                            и имеющих уникальное в Городе право – резать тела.
                        </P>
                    </DIV>
                </DIV>
                <DIV>
                    <IMG class="charapic" 
                        src="../media/img/Clara.png" 
                        alt="Changeling">
                    <DIV class="charatext">
                        <H3>Самозванка</H3>
                        <H3>Клара</H3>
                        <P>
                            Загадочная девочка, утверждающая, что она может 
                            творить чудеса. За эту силу ее и любят и ненавидят, 
                            она постоянно балансирует на грани. В Городе она 
                            появилась из ниоткуда – вылезла из могилы. Она считает, 
                            что болезнь можно победить только чудом, и ее руки 
                            способны его сотворить.
                            <BR> <BR>
                            Клара называет себя святой, другие же утверждают, что 
                            она вестница чумы. Правда неизвестна даже ей самой.
                        </P>
                        <H4>В РАЗРАБОТКЕ</H4>
                    </DIV>
                </DIV> 
            </DIV>     
           
            <IMG class="separator" 
                src="../media/img/separator.png" id="2">

            <DIV class="title">
                <IMG class="title_img1" 
                    src="../media/img/titlegradient.png" height="110px" >
                <IMG class="title_img2" 
                    src="../media/img/title2icon.png" height="80px">
                <H2 class="title_img3"> Пережить эпидемию </H2>
            </DIV>
            <DIV class="description">
                <IMG class="screenshot" 
                    src="../media/img/screenshots/ss_sick.png" 
                    alt="скриншот больного" width="90%">
                <P> 
                    Эпидемия правдоподобна:  она разворачивается в реальном 
                    времени, влияя и на игровые механики, и на сюжет. Пока 
                    вы ищете ее истоки, она гуляет по улицам и разлагает 
                    Город; она может в любую минуту постучаться и в ваше тело. 
                    Сдать квест и на шаг приблизиться к цели полезно, но ваши 
                    начинания не будут стоить и гроша, если вы не доживете до 
                    их воплощения.
                </P>
                <TABLE>
                    <TR>
                        <Th>
                            <IMG class="screenshot" 
                                src="../media/img/screenshots/town.png" alt="скриншот Города" 
                                width="100%">
                        </Th>
                        <Th>
                            <IMG class="screenshot" 
                                src="../media/img/screenshots/street.jpg" 
                                alt="скриншот улицы" width="100%">
                        </Th>
                    </TR>
                </TABLE>
            </DIV>   

            <IMG class="separator" src="../media/img/separator.png" id="3">

            <DIV class="title">
                <IMG class="title_img1" 
                    src="../media/img/titlegradient.png" height="110px">
                <IMG class="title_img2" 
                    src="../media/img/title3icon.png" height="80px">
                <H2 class="title_img3"> Везде не успеть, всех не спасти </H2>
            </DIV>
            <DIV class="description">
                <P> 
                    Вы играете со временем наперегонки. Вам дано всего 12 дней 
                    на то, чтобы найти панацею, но это не единственная ваша 
                    задача: вам нужно выявить природу болезни, облегчить 
                    страдания больных, оказать профилактику здоровым, выполнить 
                    важные квесты, найти необходимые ресурсы, и, конечно же, не 
                    стоит забывать про сон. Вы быстро обнаружите, что везде не 
                    успеваете – придется пожертвовать тем или иным, чтобы успеть 
                    сделать то, что важнее. Порой жертвовать придется человеческими 
                    жизнями. Но не корите себя – даже если вы провели своевременное 
                    лечение, эти жизни могут быть потеряны из-за обычной удачи. Не 
                    всем везет в битве с болезнью.
                </P>
                <IMG class="screenshot" 
                    src="../media/img/screenshots/kids_gif.gif" 
                    alt="гиф-изображение детей" width="90%">
            </DIV>

            <IMG class="separator" 
                src="../media/img/separator.png" id="4">

            <DIV class="title">
                <IMG class="title_img1" 
                    src="../media/img/titlegradient.png" height="110px" >
                <IMG class="title_img2" 
                    src="../media/img/title4icon.png" height="80px">
                <H2 class="title_img3"> Выживание </H2>
            </DIV>
            <DIV class="description">
                <TABLE>
                    <TR>
                        <th rowspan="2" style="width: 500px;">
                            <P> 
                                Даже врач – герой, борец с чумой –  является всего лишь 
                                человеком. Он, как и все, способен пасть ее жертвой, и 
                                порой так необходимые больным ценные медикаменты ему 
                                приходится тратить на себя. Выберете ли вы спасти от 
                                заражения себя или незнакомца? А друга? Ребенка? Игра 
                                будет ставить подобные выборы постоянно, и жить с 
                                последствиями тоже придется вам.
                                <BR> <BR>
                                Но не одними антибиотиками сыты. Вашему герою 
                                противостоит не только болезнь – ему придется 
                                бороться с собственным телом. Голод, жажда, 
                                усталость – все это может убить его. Но где в 
                                умирающем городе искать еду? Чистую воду? Сколько 
                                времени можно выделить на сон? Это еще одна проблема, 
                                с которой придется столкнуться игроку.
                            </P>
                        </Th>
                    </TR>
                    <TR>
                        <Th>
                            <IMG class="screenshot" 
                                src="../media/img/screenshots/loot.jpg" 
                                alt="скриншот лутинга" width="100%">
                            <IMG class="screenshot" 
                                src="../media/img/screenshots/dead.jfif" 
                                alt="скриншот умершей" width="100%">
                        </Th>
                    </TR>
                </TABLE>
                <IMG class="screenshot" 
                    src="../media/img/screenshots/harvest.jpg" 
                     alt="скриншот аутопсии" width="100%">
            </DIV>   

            <IMG class="separator" 
                src="../media/img/separator.png" id="5">

            <DIV class="title">
                <IMG class="title_img1" 
                    src="../media/img/titlegradient.png" height="110px">
                <IMG class="title_img2" 
                    src="../media/img/title5icon.png" height="80px">
                <H2 class="title_img3"> Жить с последствиями, умирать с последствиями </H2>
            </DIV>
            <DIV class="description">
                <P> 
                    Горечь смерти друга меркнет на фоне собственной. 
                    Если ваш герой умрет, игра не даст вам избежать 
                    последствий. Каждая смерть повлечет за собой штраф. 
                    Игра продолжится, но с каждым разом все сложнее.
                    <BR> <BR>
                    И нет, вам не удастся загрузить последнее сохранение 
                    – игра помнит все.
                </P>
                <IMG class="screenshot" 
                    src="../media/img/screenshots/executor_gif.gif" 
                    alt="гиф-изображение исполнителей" width="90%">
            </DIV>

            <IMG class="separator" 
                src="../media/img/separator.png" id="6">

            <DIV class="title">
                <IMG class="title_img1" 
                    src="../media/img/titlegradient.png" height="110px">
                <IMG class="title_img2" 
                    src="../media/img/title6icon.png" height="80px">
                <H2 class="title_img3"> Уникальный сеттинг </H2>
            </DIV>
            <DIV class="description">
                <TABLE>
                    <TR>
                        <th colspan="2">
                            <P> 
                                Попав в Город-на-Горхоне, вы столкнетесь с удивительно знакомыми пейзажами. 
                                Маленький степной городок, застрявший где-то в XX веке, увлечет вас чувством 
                                тепла и ностальгии, пусть и встретил он вас с холодной неприязнью.
                                <BR> <BR>
                                Здесь вы познакомитесь с Укладом – необычным степным народом со своими странными 
                                традициями и не менее странными существами. Как вы с ними уживетесь – решать вам, 
                                ибо даже местные их, порой, не принимают. 
                            </P>
                        </Th>
                        
                    </TR>
                    <TR>
                        <th>
                            <IMG class="screenshot" 
                                src="../media/img/screenshots/kin.webp" 
                                alt="скриншот уклада" width="100%">
                        </Th>
                        <Th>
                            <IMG class="screenshot" 
                                src="../media/img/screenshots/herb_bride.jpg" 
                                alt="скриншот травянной невесты" width="100%">
                        </Th>
                    </TR>
                </TABLE>
                <P>
                    Уклад играет ключевую роль в сюжете игры: его мировоззрение 
                    и практики влияют на поступки Гаруспика и, в меньшей степени, 
                    Самозванки. Жизнь степняков глубоко связана с их верованиями, 
                    многие из которых переняли жители Города — например, сакральность 
                    вскрытия тела.
                </P>
            </DIV>

            <IMG class="separator" 
                id="buy" src="../media/img/separator.png">

            <DIV class="centered" >
                <IFRAME src="https://store.steampowered.com/widget/505230/?t=«Мор» — 
                    это хоррор в открытом мире, где разразилась эпидемия чумы. 
                    Вы — единственный вменяемый врач в городе. Спасите его, пока он не погиб."
                    frameborder="0" width="800" height="190">
                </IFRAME>
            </DIV>

            <H1 class="centered">Другие игры студии</H1>
            <DIV class="games">
                <IMG class="gamepic" 
                    src="../media/img/other_games/pathologic.jpg" alt="мор утопия">
                <IMG class="gamepic" 
                    src="../media/img/other_games/the_void.jpg" alt="тургор">
                <IMG class="gamepic" 
                    src="../media/img/other_games/knock_knock.png" alt="тук тук тук">
                <IMG class="gamepic" 
                    src="../media/img/other_games/know_by_heart.jpg" alt="помни">
            </DIV>
            <DIV class="centered">
                <IMG src="../media/img/icepick_logo.png" 
                    width="400px" alt="логотип">
            </DIV>
            <DIV class="socials">
                <A href="https://store.steampowered.com/developer/icepicklodge">
                    <IMG src="../media/img/other_media/steam.png" 
                        width="40px" alt="steam">
                </A>
                <A href="https://vk.com/icepicklodge">
                    <IMG src="../media/img/other_media/vk.png" 
                        width="40px" alt="vk">
                </A>
                <A href="https://www.youtube.com/icepicklodge">
                    <IMG src="../media/img/other_media/yt.png" 
                        width="40px" alt="youtube">
                </A>
                <A href="https://twitter.com/IcePickLodge">
                    <IMG src="../media/img/other_media/twitter.png" 
                        width="40px" alt="twitter">
                </A>
                <A href="https://www.facebook.com/icepicklodge">
                    <IMG src="../media/img/other_media/fb.png" 
                        width="40px" alt="facebook">
                </A>
                <A href="https://instagram.com/icepicklodge">
                    <IMG src="../media/img/other_media/insta.png" 
                        width="40px" alt="instagram">
                </A>
            </DIV>
            <DIV class="centered">
                <P>
                    Телефон: +7 (495) 952-59-99
                    <BR>
                    Почта: mail@ice-pick.com
                </P>
            </DIV>
        </DIV>
    </BODY>
</HTML>