{% extends "base.html" %}
{% block content %}
<img class="team_img" src="/media/img/screenshots/executor_gif.gif">
<p>Разработчики, рисующие на пыльном зеркале вместо доски. Мы создали Мор, Тургор и Тук-тук-тук.
    <br><br>
Каждая наша игра — это лабораторная работа и проверка новых возможностей. Игры умеют делать с человеком вещи, недоступные другим художественным формам. Нам интересно открывать особенный язык игры, проверять её уникальные инструменты. Не только развлекать человека, но и ставить ему неожиданные задачи, давать повод задуматься о пределах своих возможностей и меняться к лучшему.
<br><br>
Контакты
<br>
E-mail: mail@ice-pick.com
</p>
{% endblock %}